

$padding: 5px;
$animation-length: 1.5s;
$animation-delay: .3s;
$animation-delay-h3-1: 1s;
$animation-delay-h3-2: 1.5s;

h1 {
    display:inline-block;
    font-size:80pt;
    color:transparent;
    span {
      display:block;
      position:relative;
      animation: $animation-length showHide ease-out;
      animation-fill-mode: forwards;
      &:last-child {
        left:120px;
        animation-delay:$animation-delay;
        &:before {
          background: linear-gradient(#ff3131, #ff914d);
          animation-delay:$animation-delay;
        }
      }
      &:before {
        content:'';
        background:#5fbff9;
        position:absolute;
        top:-$padding;
        left:-$padding;
        bottom:-$padding;
        right:-$padding;
        transform-origin: 0 0;
        transform: scaleX(0);
        animation: $animation-length inOutSwipe ease-out;
      }
    }
}

h3 {
  display:inline-block;
    font-size:80pt;
    color:transparent;
    span {
      display:block;
      position:relative;
      animation: $animation-length showHide ease-out;
      animation-fill-mode: forwards;
      &:last-child {
        left:120px;
        animation-delay:$animation-delay-h3-2;
        &:before {
          background: linear-gradient(#ff3131, #ff914d);
          animation-delay:$animation-delay-h3-2;
        }
      }
      &:first-child {
        animation-delay:$animation-delay-h3-1;
        &:before {
          animation-delay:$animation-delay-h3-1;
        }
      }
      &:before {
        content:'';
        background:#5fbff9;
        position:absolute;
        top:-$padding;
        left:-$padding;
        bottom:-$padding;
        right:-$padding;
        transform-origin: 0 0;
        transform: scaleX(0);
        animation: $animation-length inOutSwipe ease-out;
      }
    }
  margin-left:30%;
}

@keyframes inOutSwipe {
  0%,100% {
    transform: scaleX(0);
  }
  40%,50% {
    transform: scaleX(1);
  }
  
}
@keyframes showHide {
  0%,40% {
    color:transparent;
  }
  50%,100% {
    color:#444;
  }
  
}

#reset {
  position:absolute;
  bottom:20px;
  text-transform:uppercase;
  color:#555;
  cursor:pointer;
}

@media screen and (max-width:500px) {
  h1, h3 {
    font-size: 55px;
    margin-left:0;
  }

  h3 {
    margin-left:5%;
    margin-top:10%;
  }
}