body {
  font-family: 'Sugo Pro Display', sans-serif;
  font-size:20px;
  color: #001447;
}

.btn {
  background: linear-gradient(#ff3131, #ff914d);
  font-size: 18px;
}

.dropdown-item {
  font-size:18px;
}

.background {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../../../img/pattern-mobile.png');
  height:100vh;
  text-align: left;
}

#me {
  border-radius:130px;
  border-style: solid;
  border-color:#001447;
  margin-right:5%;
  width:130px;
  height:130px;
  margin-left:1%;
  display:inline-block;
  animation: fadeIn 3s;
}

@media screen and (min-width:500px) {
  .background {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../../../img/pattern.png');
    height:100vh;
  }

  #me {
    border-radius:250px;
    border-style:solid;
    border-color:#001447;
    width:250px;
    height:250px;
    margin-left:10%;
    margin-top:3%;
    animation: fadeIn 3s;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}