
body {
  font-family: var(--SugoFont);
  font-size:20px;
  color: var(--Blue);
}

#header {
  background: var(--OrangeGradient);
}

.btn {
  background: var(--OrangeGradient);
  font-size: 18px;
}

.dropdown-item {
  font-size:18px;
}

.background {
  background-image: var(--BackgroundMobileTransparent);
  height:130vh;
}

@keyframes smooth-appear {
  to{
    bottom:0;
    opacity:1;
  }
}
.card {
  bottom: -100%;
  opacity:0;
  animation: smooth-appear 1s ease forwards;
}

#card2 {
  animation-delay: 2s;
  }

@media screen and (min-width:500px) {
  .background {
    background-image: var(--BackgroundDesktopTransparent);
    height: 70vh;
  }

  .card {
    max-width: 50%; 
    left:25%; 
    right:25%;
  }
  
}