body {
  font-family: 'Sugo Pro Display', sans-serif;
  font-size:20px;
  color: #001447;
}

.btn {
  background: linear-gradient(#ff3131, #ff914d);
  font-size: 18px;
}

.dropdown-item {
  font-size:18px;
}

.background {
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../../../img/pattern-mobile.png');
  height:110vh;
}

@keyframes smooth-appear {
  to{
    bottom:0;
    opacity:1;
  }
}
.card {
  bottom: -100%;
  opacity:0;
  animation: smooth-appear 1s ease forwards;
}

#card2 {
  animation-delay: 2s;
  }

@media screen and (min-width:500px) {
  .background {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),url('../../../img/pattern.png');
    height: 70vh;
  }

  .card {
    max-width: 50%; 
    left:25%; 
    right:25%;
  }
  
}